{
    "printWidth": 80,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "bracketSpacing": false,
    "quoteProps": "preserve",
    "importOrder": ["^@/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
